
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding: 0; margin: 0;

    /*
    background-color: #2c2f33;
    background-image: url(bg.jpg);

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */


    background-color: #747ace;
    background-image: url(bg.png);
    background-repeat: repeat;
    background-size: 200px;
    background-attachment: fixed;
}

/* page sections */
div.page-slice {
    width: 100%;
    margin: 0;
    color: lightgrey;
}
/* headdings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Light', 'Open Sans', sans-serif;
    font-weight: 100;
}

.pad10 { padding: 10px; }
.pad20 { padding: 20px; }
